@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
}
/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827; /* gray-900 */
}

::-webkit-scrollbar-thumb {
  background-color: #374151; /* gray-700 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* gray-600 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #374151 #111827;
}
